extends "base.jade"

block page_title
    |Schedule &mdash; {{super()}}

block meta_description
    |PyCascades Conference Schedule

block body_class
    |talks schedule

block main

    .container

        {% set schedule_days = site.query("/schedule") %}

        {% if schedule_days %}
        h1 Conference Schedule
        {% else %}
        h1 Schedule Coming Soon
        {% endif %}

        {% if this.description %}
        {{ this.description.html}}
        {% endif %}

        {% for day in schedule_days %}
        h3 {{ day.date|dateformat("EEEE, dd MMMM yyyy") }}

        table.schedule-table
            thead
                td Time
                td Machine Learning/AI/Big Data
                td DevOps
                td Hardware/IoT
            {% for timeslot in day.program %}
            tr
                td.time.
                    #[span.start {{ timeslot.start }}]
                {% set talks=site.query("/talks").filter((F.scheduled_date == day.date).and(F.scheduled_time == timeslot.start)) %}
                {% if talks %}
                {% for track in ["grand_forum", "breakout_a", "breakout_b"] %}
                td.track
                    {% for talk in talks %}
                    {% if talk.track == track %}
                    a(href="{{ talk|url }}").
                        #[span.speaker {{ talk.speaker }}]: #[span.title {{ talk.title }}]
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                {% else %}
                <td colspan="3" class="{% if timeslot.type == 'nontalk' %}muted{% endif %}">
                {% if timeslot.link %}<a href="{{ timeslot.link }}">{% endif %}
                #[span.label {{ timeslot.description }}]
                {% if timeslot.link %}</a>{% endif %}
                </td>
                {% endif %}
                {% endif %}
                
                {% endfor %}
                {% else %}
                td.description(colspan=3)
                    #[span.label {{ timeslot.description }}]
                {% endif %}
            {% endfor %}
        {% else %}
        h3 Check out our #[a(href="{{ '/talks'|url }}") incredible speakers] while you wait.
        {% endfor %}
